{% extends "hunt/hunt_base.html" %}
{% load hunt_tags %}


{% block title %}Puzzles!{% endblock title %}

{% block content %}
{% if episodes %}
{% include 'hunt/hunt_sidebar.html' with episodes=episodes hunt=hunt%}
{%else%}
<div id="sidebar" class="vertical-nav active" style="opacity:0" ></div>
{%endif%}

{%if not team == None%}
<div class='team-name'>
  Team {{team.team_name | safe }}
</div>
{%endif%}


<div class="side-content">
  <div class="splash">
  <div class="hunt-page-container">
    {% if message != '' %}
      <div class = 'hunt-message' style = "color:white; font-size:1.5em">
        {{message | safe}}
      </div>
      <br />
    {%endif%}


    {{ text | render_hunt_with_context:team }}
  </div>
  </div>
</div>
{% endblock content %}
