{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="form-centered text-center form-login">
<form method="post">
  {% csrf_token %}
  <img class="mb-5" src='/static/img/mblogo.png' alt="Mindbreakers logo" style="height:auto; width:300px">
  {{ form.non_field_errors }}

  <div class="form-floating">
    <input type="text" name="username" maxlength="150" class="form-control" placeholder="Mindbreakers" id="id_username" />
    <label for="{{ form.username.id_for_label }}">Username:</label>
    {{ form.username.errors }}
  </div>
  <div class="form-floating">
    <input type="password" name="password"  class="form-control" placeholder="Password" id="id_password" />
    <label for="{{ form.password.id_for_label }}">Password:</label>
    {{ form.password.errors }}
  </div>

  <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>

  <br /><br />
  Don't have an account yet? <br />
  <a href="{% url 'signup' %}" style="color:white">
     Click here to sign-up!
	</a>
  <br />
  <a href="{% url 'password_reset' %}" style="color:white">
     I forgot my password (does not work yet)
	</a>

</form>
</div>
{% endblock %}
