html, body { height:100%; }
body {
  display:flex;
  flex-flow:column;
  background:radial-gradient(circle, rgb(8, 162, 91) 20%, rgb(17, 87, 55) 100%) fixed;
  overflow-x: hidden;
}

@font-face {
  font-family: "Illusion";
  src: url("../fonts/IllusionHollow.ttf");
}

@font-face {
  font-family: "IllusionCondensed";
  src: url("../fonts/IllusionHollow-Condensed.ttf");
}

@font-face {
  font-family: "IllusionFullCondensed";
  src: url("../fonts/Illusion-Condensed.ttf");
}

.navbar {
  box-shadow:0px 1px 5px 1px #2c392a;
}

.navbar-brand img {
  transition: transform 1s;
  transform-origin: 48% 50%;
}

.navbar-brand:hover img {
  transform:rotate(180deg);
}


main {
  flex-grow: 1;
  display: flex;
  flex-flow:column;
}

section.vfill {
  flex-grow: 1;
}


h1.illusion {
  color:white;
  font-family: "IllusionCondensed";
}

.light-section {
  background-color:#CCE6CA;
  color:black;
}


.form-centered {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.splash {
  flex-grow:1;
  display:flex;
  justify-content: center;
  align-items: center;
}

.splash h1 {
  text-align: center;
  font-size: min(12vw, 100px);
  color: black;
}

.splash .card {
  box-shadow: 2px 2px 11px -1px #003e07;
  border:1px solid rgba(0, 0, 0, 0.61)
}


.splash .card-header {
  background: rgb(244, 145, 85);
  color: black;
  font-family: "IllusionFullCondensed";
  font-size: 38px;
  text-align: center;
  padding:.8rem 1rem .2rem
}


/*
.splash .card-group {
  box-shadow: 2px 2px 11px -1px #003e07;
  border:1px solid rgba(0, 0, 0, 0.61)
}
.splash .card-group .card {
  box-shadow:none;
}
*/

.splash .card-grouped {
  display:flex;
  align-items: center;
}

.splash .card-grouped .card {
  margin:40px;
}

.splash .card-grouped .card-header {
  font-size: 36px;
  padding:.8rem 1.5rem .2rem
}


#team-wrapper {
  border: 1px solid gray;
  border-radius: 20px;
  width: 11rem;
  height: 11rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

#team-wrapper i {
  font-size: 100px;
  line-height: 90px;
}

.card-body.colored {
  border-top:1px solid gray;
  background: rgb(244, 145, 85);
}

.myfooter {
  color: #c8c8c8;
}

a {
  color: #133b88;
}


@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 4s linear infinite;
    transform-origin: 51% 60%;
}

