{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="splash">
  <div class="card">
    <div class="card-header">
      Change User details
    </div>
    <div class="card-body">
<form method="POST">
  {% csrf_token %}
  <div>
    {{ user_form|crispy }}
    {{ person_form|crispy }}
  </div>
  <div class="submit-row">
    <button class="w-100 btn btn-lg btn-primary" type="submit" value="Update Info" class="default" />
    Update Info
    </button>
  </div>
  </div>
</form>
</div>
</div>
{% endblock %}
